N# no, don't get file extensions
K:\Downloads\Google Photo Takeout Output# input folder
K:\Downloads\Google Photo Takeout Output# output folder
# blank line to use all file extensions
._#blank line to not check file beginnings
T# copy files
# no more input parameters to pass

# use this file to write inputs for Copy-All-Files-From-Folder.py
# which can be piped into it in the command line
# use # for comments, and do not leave a space before it
# comments taking a whole line must be after all commands
