Y# yes, read from config file (MUST BE Y, otherwise this file will be ignored)
N# N for don't get file extensions, Y for get file extensions
K:\Downloads\Google Photo Takeout Output# input folder
K:\Downloads\Google Photo Takeout Output# output folder
# blank line for all files, or space separated list of file extensions / file endings
#blank line for all files, or space separated list of file beginnings
T# C for copy, M for move, T for trash, D for delete (BE VERY CAREFUL WITH D!!!)
# no more input parameters to pass

# use this file to write inputs for Copy-All-Files-From-Folder.py
# which can be piped into it in the command line
# use # for comments, and do not leave a space before it
# comments taking a whole line must be after all commands
